

<head>
    <title>Home Page</title>
 
    <style type="text/css" media="screen">
        body {
            text-decoration-color: white;
            font-size: 7em;
        }
    </style>
</head>
 
<body>
    <h1> Home</h1>
</body>


